.header_outer_container {
    position: sticky;
    top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    color: white;
   
    z-index: 1;
    font-style: normal;

    /* Choose one background color */
    background-color: rgb(20, 20, 20); /* dark gray */
    /* background-color: transparent; */
    /* background-color: red; */
}

.nav_black {
    background-color: rgb(244, 28, 28);
    padding-top: 15px;   
  padding-bottom: 15px;




}

.header_container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header_left {
    display: flex;
    align-items: center;
}

.header_left ul {
    display: flex;        
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0px;
     padding-top: 25px;
          
}

.header_left li {
    cursor: pointer;
    font-size: 14px;
    
}
.right_header ul {
    display: flex;        
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0px;
     padding-top: 2px;
     list-style-type: none; 
          
}